*,*:before,*:after {
    box-sizing: inherit;


}
html,body{
    width: 100%;
    height: 100%;
}
html{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items:center;
}

.contenedor{
    width: 500px;
    min-width: 100px;
    background-color: lightgrey;
    padding: 20px;
    font-family: Georgia;
    text-align: center;
   display: flex;
   flex-wrap: wrap;

}
.contenido{
    background-color: lightskyblue;
    width: 70%;
    min-height: 500px;
    border: 1px solid gray;
    flex-grow: 1;

}
h1 {
    flex-basis: 100%;

}
.lateral {
    background-color: darkmagenta;
    width: 25%;
    min-height: 500px;
    flex-grow: .05;
    margin-left: 20px;
}