*,*:before,*:after {
    box-sizing: inherit;


}
html,body{
    width: 100%;
    height: 100%;
}
html{
    box-sizing: border-box;
}

body{
    background-color:lightgray;
    font-family:  sans-serif;
    margin: 0;
    padding: 0;

}


.contenedor{
    border: 20px solid white;
    display: flex;
   flex-direction: row;
    height: 100vh;
    flex-wrap: wrap-reverse;

}

 div [class*="item-"]{
     background: orange;
     padding: 10px;
     text-align: center;
     border: 2px solid gray;
     flex-grow: 1;
     width: 300px;
     
     
 }
  
 div [class*="item-"]:nth-child(odd)  {
     background-color:black;
     color: white;
 }




