
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*::before *::after{
    box-sizing: inherit;
}
body{
    font-family: 'loto',sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
/*


/*----------header-hero------------*/
.site-header.inicio{
    background-image: url('../img/header.jpg');
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
   
}
/*globales*/
img{
    max-width: 100%;
}
.container{
    max-width: 120rem;
   margin: 0 auto;
}
/*
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}*/
.contenido-header{
    height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
    
  
    
}.barra{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.contenido-header h1{
    
    color: white;
    line-height: 1.7;

}

.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 20px;
}

.navegacion a:hover{
    color: violet;
}
.seccion {

    margin-top: 2rem;
    margin-bottom: 2rem;
}

.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}
.icono {
    flex-basis:calc(33.3% - 1rem);
    text-align: center;
    
}
.encabezado-nosotros{
    font-weight: 300;
    text-align: center;

}
.fw300{
    font-weight: 300;
}

/*-----Realizacion del Main-----*/
.contenedor-anuncios {
    display: flex;
  justify-content: space-between;
}
.anuncios {
    flex-basis: calc(33.3% - 1rem);
    border:1px solid #B5B5B5;
    background-color: #f5f5f5;

}
.contenido-anuncios{
   padding: 2rem;

    
}
.contenedor-anuncios h3, .contenedor-anuncios p{
    margin:0;
}

.precio {
    color: #71B100;
    font-weight: 700;
}
.iconos-caracteristicas{
    display: flex;
    justify-content: space-evenly;
}

.icono-li{
    display: flex;
    

}

.parrafo-anuncio {
    display: inline;
    align-self: center;
    
}
.iconos-caracteristicas p{
    margin-left: 20px;
}


/*------BOTONES---------+++**/
.boton{
    padding: 1rem 0;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-weight: bold;
    

}
.boton-amarillo{
    display: block;
    width: 100%;
    text-align: center;
   background-color:#E08709;
 
}


.ver-todas{
    display: flex;
    justify-content: flex-end;
 
  }
.boton-verde1{
   
      margin-top: 2.5%;
      padding-right: 1rem;
        padding-left: 1rem;
    background-color:#71B100;
}




/**********Imagen encuentra****/
.container-sueño {
    margin-top: 2rem;
    height: 30vh;
    min-height: 20rem;
    color: white;
    background-image: url('../img/encuentra.jpg');
    background-position: center center;
    background-size: cover;
    padding-top: 8%;
    padding-bottom: 8%;
}

.encuentra-texto{

   height: 100%;
    /*border: 1px solid;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 .encuentra-texto h2 {
    margin-top: 0%;
    margin-bottom: 0%;
    align-self: flex-start;
   
}
.boton-contac{
    width: 10%;
    padding-right: 1rem;
    padding-left: 1rem;
}


/*---------------------Tetimonios-------------------------*/
.container-blog{
    width: 60%;
    margin-right: 3%;
    }
    .secundario-testi{
    display: flex;
    justify-content: center;
    
    }
    .terraza{
        display: flex;
        margin-bottom: 2rem;
        
    }
    .terraza p{
       display: block;
       /*margin-bottom: 3rem;*/
        
    }
    .texto-terraza{
        margin-left: 3%;
    }
    .texto-terraza p{
       font-size: 1.2rem;
      
    }
    .terraza h4{
        font-size: 2.2rem;
           margin-top: 0;
           margin-bottom: 2%;
    }
    
    .imgTerraza {
    width: 25rem;
    height: 20rem;
    
    
       
    }
    .imgTerraza img{
        width: 100%;
        height: 100%;
        
        
           
        }
    .container-testimoniales{
      width: 29%;
    }
    .card-testimoniales{
       font-size: 2rem;
        background-color: #2db428;
        color: white;
        padding: 10%;
        border-radius: 6%;
        
    
        
    }
    .card-testimoniales .textoTesti{
        display: inline-flex;
    }
    .autorTesti{
        display: flex;
        justify-content: flex-end;
    }
    
    .terraza h4::after,
    .guia h2::after,
    .guia-lounge h2::after,
    .guia-room h2::after,
    .guia-pool h2::after
    {
        content: '';
        background: #28b434;
        display: block;
        height: 0.5rem;
        width: 20rem;
        margin: 0px;
    }
    
    
    .guia-pool p {
        display: inline;
    }
    .guia-lounge p {
        display: inline;
    }
    
    .guia-room p {
        display: inline;
    }
    


/*---------------------------Pagina Nosotros---------------------**/

.portada-nosotros {
    background-color: black;

}

.conten-nosotros{
    display: flex;
    justify-content: space-between;
    flex-basis:calc(33.3% - 1rem);
    text-align: center;
}
.imagen-nosotros{
    padding: 10px;
}
.container h2{
    text-align: center;
}





/***----------------------Fooder------------+++*/
.contenedor-footer{
    background-color: black;
    color: white;
   height: 5rem;
}

.secundario{
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
    align-items: center;
}
   
.secundario p{
    color: white;
}





/*----------------Pagina de Anuncios ------------------***/
.margenanuncios{
    margin-bottom: 3rem;

}
.margen-anuncio{
    margin-bottom: 2rem;
}

/*--------------------Pagina de Anuncio--------------****/


.imagen-playa {
    background-image: url("../img/destacada.jpg");
    background-position: center center;
    background-size: cover;
    height: 700px;
}

.contenidoanuncio {
    padding-top: 3rem;
    display: flex;
    justify-content: space-evenly;
}
.p2{
    padding-top: 3rem;
    text-align: center;
    padding-left: 35rem;
    padding-right: 35rem;
}


/**************Pagina Blog******----------*/
.nuestro-blog1{

    padding-left: 20rem;
    padding-top: 3rem;
    display: flex;
   justify-content: center;
   align-content: center;
   
    
}
.casa1{
    
    background-position: center;
    background-size: cover;
    height: 18rem;
    width: 23rem;
    
    

}

.casa-texto{
    margin-left: 30px;
    text-align: left;
}

.h2blog h2{
    text-align: left;
}

/*****---------------------PAGINA CONTACTO-------------------------*/
.fw300{
    font-weight: 600;
  
  }

.centrar-texto{
    text-align: center;
  }
.contenedor-llenar{

    width: 620px;
    height: 1400px;
    background:white;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-left: 500px;
    margin-bottom: 5%;
  
  }

.llenado1{

    justify-content: space-between;
    font-size: 16px;
    background-color: white;
    padding: 20px;
    
    
    
  }
  